html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir Next', 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: normal;
}
#section-header {
  width: 100%;
  height: 130px;
  top: 0px;
  background: #FCFCFC;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: fixed;
}
#section-header > a {
  margin-top: 50px;
  margin-left: 36px;
}
#section-header > ul {
  margin-top: 50px;
  margin-right: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
#section-header > ul li {
  height: 100%;
  margin-right: 36px;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
#section-header > ul li.sub-page:hover {
    text-decoration: underline;
}
a {
  text-decoration: none;
  color: #000000;
}

#section-1 {
}
#section-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background:linear-gradient(
      rgba(100, 100, 100, 0.5),
      rgba(100, 100, 100, 0.9)
    ),url("/imgs/background.jpeg") center center;
  background-size:cover;
  height: 100vh;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px), grayscale(1);
}


#section-1 > p   {
line-height: 142px;
font-size: 80px;
text-align: center;
padding-top: 15%;
color: #f7f7f7;
}


#section-1 > div > p.NextSectionDescription {
  line-height: 36px;
  font-size: 20px;
  color: #B0B0B0;
}
#section-1 > div {
  text-align: center;
}
#section-1 > div.next-section {
  padding-top: 112px;
}
#section-1 > div > a.button {
  width: 294px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#section-2 {
  padding-top: 15%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#section-2 > div.left {
  flex-wrap: wrap;
  padding: 112px;
}
#section-2 > div.right {
  flex-wrap: wrap;
  padding-right: 224px;
  font-size: 20px;
}
div.card > p.headline {
  font-size: 30px;
}
#section-2 > div > p {
  font-size: 30px;
}
#section-2 > div > div.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  width: 530px;
  height: 479px;
  padding: 32px;
}

.NextSectionButton {
  font-size: 54px;
  color: #B0B0B0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease; /* Safari */
  transition: all 0.3s ease;
}

.NextSectionButton:hover  {
  color: #BEBEBE;
  text-shadow: #BEBEBE 1px 0 4px;
}

/* button */
a.button {
  min-width: 208.93px;
  min-height: 70.96px;
  background: #FFF739;
  box-shadow: 0px 8px 15px rgb(255,247,75, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  padding: 20px;
}
a.button:hover {
  background-color: #FFF74B;
  -webkit-box-shadow: 16px 12px 68px -4px rgba(255,247,75,0.86);
  -moz-box-shadow: 10px 12px 68px -4px rgba(255,247,75,0.86);
  box-shadow: 10px 12px 68px -4px rgba(255,247,75,0.86);
  transform: translateY(-7px);
}
